body, html {
	width: 100%;
	overflow-x: hidden; 
	font-family: sans-serif;
	color: #848484;
}

/* Header */
header {
	background-color: #848484;
	min-height: 100px;
	padding: 25px;
}

header h1 {
	color: black;
}

/*
Navigation
*/
 nav ul {
 	list-style-type: none;
 	background-color: #333;
 	margin: 0;
 	padding: 10px;
 }

 nav li {
 	display: inline;
    
 }

  nav li a {
    color: white;
    text-align: center;
    text-decoration: none;
    border-right: 0.5px solid white;
    padding: 5px;
    margin: 10px;
 }
nav li a:hover:not(.active) {
    background-color: #111;
}